body{
    background-color: black;
    padding: 0;
    margin: o;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
    color: yellow;
}
li{
    list-style-type: none;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: lighter;
}
nav{
    display: flex;
    align-items: center;
}
ul{
    display: flex;
    justify-content: space-around;
    gap: 20px;
    width: 700px;
    font-size: 25px;
}
.div{
    display: flex;
}
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: gray;
    border-radius: 15px;
}
button{
    font-size: 20px;
    border-radius: 10px;
    border: none;
    background-color: red;
    color: white;
}
.Tasty{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: lighter;
    color: red
}
.Tasty .foods{
    color: white;
    font-size: 25px;
}
.div-1 h1{
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: white;
}
.div-1 p{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: lighter;
    color: white;
}
.div-1 .Contact{
    font-size: 20px;
    background-color: rgb(255, 228, 19);
    color: white;
}
.div-1 button .book{
    color: white;
}
.img{
    width: 300px;
    margin-top: 70px;
}
.sect-1{
    display: flex;
    justify-content: space-around;
}
.div-2{
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: auto;
}
.sect-2{
    background-color: gray;
    border-radius: 15px;
}
.div-2 img{
    border-radius: 15px;
}
.div-2 p{
    color: white;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: lighter;
}
.div-3{
    display: flex;
    background-color: red;
    width: 270px;
    border-radius: 15px;
}
.div-3 img{
    border-radius: 250px;
}
.sect-3{
    display: flex;
    margin-left: 200px;
}
.div-4{
    display: flex;
    background-color: black;
    width: 270px;
    border-radius: 15px;
    color: white;
}
.div-4 img{
    border-radius: 250px;
}
.div-5{
    display: flex;
    background-color: yellow;
    width: 270px;
    border-radius: 15px;
}
.div-5 img{
    border-radius: 250px;
}
.sect-4{
    display: flex;
    margin-bottom: 70px;
}
.sect-4 .div-6{
    margin-left: 200px;
}
.sect-5{
    background-color: gray;
    border-radius: 15px;
}
.div-7{
    display: flex;
    justify-content: space-around;
}
.div-7 h1{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}
.div-7 p{
    font-family: 'Times New Roman', Times, serif;
    font-weight: lighter;
    font-size: 20px;
}
.sect-6{
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-around;
}
.sect-6 img{
    border-radius: 15px;
}
.sect-6 p{
    font-size: 20px;
}
.sect-7{
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-around;
}
.sect-7 img{
    border-radius: 15px;
}
.sect-7 p{
    font-size: 20px;
}
.sect-8{
    background-color: gray;
    border-radius: 15px;
}
.div-9{
    background-color: white;
    box-shadow: 5px 5px 5px;
    width: 300px;
    height: 250px;
    margin-left: 55px;
    border-radius: 10px;
    margin-bottom: 100px;
}
.div-10{
    display: flex;
    justify-content: space-around;
}
.div-11 img{
    border-radius: 15px;
}
.all{
    display: flex;
    justify-content: space-around;
}
.sect-9{
    display: flex;
}
.footer{
    background-color: gray;
}
.footer .end{
    display: flex;
}
.footer .hh{
    margin-left: 100px;
}
.hh{
    font-size: 90px;
}